#newsInfo {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ccc;
  }
  
  .newsItem {
    margin-bottom: 20px;
  }
  
  .newsTitle {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .newsContent {
    margin-left: 10px;
  }